on fs
    wait /dev/block/by-name/omr
    mount ext4 /dev/block/by-name/omr /omr nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    chown root system /omr
    chmod 0771 /omr
on property:vendor.security.vaultkeeper.native=1
    start scs
on property:ro.boot.activatedid=*
    oem_key_update
on post-fs
    setprop ro.omc.build.version N986BOXM1ATJ1
    setprop ro.omc.build.id 34862094
    setprop ro.omc.changetype DATA_RESET_ON,TRUE
    setprop ro.simbased.changetype NO_DFLT_CSC,OMC
    setprop ro.omc.disabler FALSE
